:root {
  font-size: 62.5%;
  --black: #000000;
  --white: #ffffff;
  --green: #206456;
  --grey: #333333;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7efed;
  font-family: "Agdasima", sans-serif;
  max-width: 1840px;
  margin: 0 auto;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

.bg-white {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 62px;
  height: 62px;
  border-radius: 62px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 5.7rem 10rem;
  align-items: center;
}

.nav__links {
  display: flex;
  gap: 5.8rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.nav__searchbar {
  color: var(--white);
  background-color: black;
  display: flex;
  align-items: center;
  gap: 15.6rem;
  padding: 1.7rem 3rem;
  border-radius: 38px;
}

.nav__searchbar-text {
  display: flex;
  font-size: 2.4rem;
  gap: 1.3rem;
  align-items: center;
}

.hero {
  position: relative;
  display: flex;
  padding: 0 9.5rem;
}

.hero__left__heading {
  position: relative;
  width: 410px;
}

.hero__left__heading--text {
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__left__heading--image {
  position: absolute;
  right: 0;
  top: 26px;
}

.hero_left__tagline {
  font-size: 2.5rem;
  margin-top: 5px;
  margin-bottom: 5.2rem;
  color: var(--grey);
}
.cartblock {
  display: flex;
  gap: 5.2rem;
  align-items: center;
}
.cartblock--left {
  color: var(--white);
  background-color: black;
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 7px 24px 7px 7px;
  border-radius: 38px;
  font-size: 2.4rem;
}

.cartblock-image {
  background: linear-gradient(101deg, #ffd154 0%, #ffc936 99.48%);
  width: 62px;
  height: 62px;
  padding: 17px;
  border-radius: 62px;
}

.cartblock-right {
  display: flex;
  gap: 15px;
}

.hero__image {
  margin-top: -136px;
}

/* ------------------- */
.green {
  background-color: var(--green);
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}

.feature {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  align-items: center;
}

.feature-block {
  display: flex;
  gap: 3rem;
}

.feature-text {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.hero__right {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.pepper-big {
  position: absolute;
  bottom: 90px;
  right: 0;
}

/* ---------------- section 2 ----------------  */

.trends {
  display: flex;
  justify-content: space-between;
  background: url(./images/SeekPng.png), #23675a;
  padding: 10px 120px;
  border-radius: 40px 40px 0 0;
  margin: -40px 80px 0 80px;
}
.trending-block {
  display: flex;
  align-items: center;
}

.trending-image {
  z-index: 2;
}

.trending-content {
  background-color: white;
  border-radius: 20px;
  padding: 17px 9px 17px 41px;
  margin-left: -38px;
  height: fit-content;
}

.content-title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.stars-and-price {
  display: flex;
  gap: 31px;
  font-size: 24px;
  font-weight: 700;
}

.price {
  margin-top: 10px;
}

button {
  all: unset;
  color: black;
  background: linear-gradient(101deg, #ffd154 0%, #ffc936 99.48%);
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 17.5px;
}
.phocus {
  position: absolute;
  margin: -180px -20px;
  z-index: -2;
}
